/* Common*/
*{
    box-sizing: border-box;
    padding: 0;
    margin:0;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

.flex_container{
    display: flex;
    flex-wrap: wrap;
}

.text_uppercase{
    text-transform: uppercase;
}

.text_white{
    color:white;
}

a{
    text-decoration: none;
}

.hidden_lg{
    display: none;
}

/* /Common*/

/*aside*/
#logo{
    height:40px;
    margin:20px 0 20px 15px;
}

aside{
    background-color: black;
    width: 200px;
    height: calc(100vh - 75px);
    flex-direction: column;
    justify-content: space-between;
    color: gray;
}

.top_aside{
    height: calc(100vh - 275px);
    width: 100%;
}

.top_aside a{
    padding-top: 5px;
    color: gray;
}

/*BOTTOM ASIDE*/
.menu_top_aside li a{
    position: relative;
    padding-left: 0 15px;
    color:gray;
}

.menu_top_aside span{
    height: 25px;
    line-height: 25px;
}

.menu_top_aside img{
    height: 25px;
}

.menu_top_aside a:hover::before,
.playlist a:hover::before{
    content: "";
    background: green;
    width: 3px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.playlist a:hover{
    color: white;
}

.btn_new_playlist:hover{
    background-color: white;
}

.menu_top_aside a:hover{
    color: white;
}

.playlist_container{
    height:100%;
    overflow-y: auto;
    margin-top: 20px;
}
.title_playlist{
    padding-left: 15px;
}

.playlist li{
    position:relative;
    padding: 5px 0 0 15px;
    text-decoration: none;
    font-size: 14px;
}

.playlist{
    list-style: none;
    margin-top: 10px 0;
}

.playlist li:first-child a{
    line-height: 32px;
}

.ul_playlist a{
    color:white;
}

.btn_new_playlist{
    font-size: 32px;
    color:black;
    padding: 0px 10px;
    margin-right: 10px;
    background-color: gray;
}

/*BOTTOM ASIDE*/
.bottom_aside{
    padding: 15px;
}

aside hr{
    margin: 10px 0;
    border-color: white;
    border-width: 1px;
}

.img_download{
    color: gray;
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.img_profile{
    background-color: gray;
    border-radius: 50px;
    width: 25px;
    height: 25px;
    margin-right: 10px;
}

.btn_install{
    color:gray;
}

.name_profile{
    color: white;
    font-weight: bold;
}

/* /ASIDE*/

/*MAIN*/
main{
    background-color: rgb(39,44,53);
    width: calc(100% - 200px);
    height: calc(100vh - 75px);
    overflow-y: auto;
}

.main_top{
    background-color: rgb(25,25,36);
    position:fixed;
    width: calc(100% - 200px);
    height: 60px;
    align-items: center;
    flex-direction: row-reverse;
    opacity: 0.8;
}

.btn_upgrade{
    text-transform: uppercase;
    background-color: rgb(8,11,19);
    color: white;
    margin-right: 20px; 
    padding: 7px 30px;   
    border: 1px solid white;
    border-radius: 30px;
    font-size: 12px;
}

.btn_upgrade:hover{
    font-size: 13px;
    transition: 0,2s;
}

.menu_main{
    vertical-align: top;
    justify-content: center;
    width: 100%;
    margin: 70px 30px 30px 0;
}
.menu_main ul{
    text-align:center;
}
.menu_main li{
    display:inline-block;
    list-style: none;
    align-items: flex-start;
    padding: 7px;
}

.menu_main a{
    position: relative;
    color:gray;
    font-size:12px;
}

.menu_main a:hover{
    color: white;
    transition: color 0.3s;
}

.menu_main a:hover::after{
    content: "";
    position: absolute;
    top: 18px;
    left: 50%;
    transform: translateX(-50%);
    width: 40px;
    height: 2px;
    margin-top: 3px;
    background-color: #1DB954;
    transition: background-color 0.3s;
}

.title_section{
    margin:20px 10px 0;
    font-size: 18px;
    color: white;
}

.subtitle_section{
    margin: 0 10px 10px ;
    font-weight: none;
    color: gray;
}

.song-row{
    display:flex;
    flex-wrap:wrap;
    width: 100%;
    margin: 20px 0 40px;
}

.album h6{
    color:white;
}

.album{
    width: calc((100vw - 200px) /6  - 10px);
    margin-top: 10px;
}

.autor_album{
    margin-top: 10px;
    color: gray;
}

.content_album{
    width: 90%;
    max-width: 200px;
    margin: 0 auto;
    text-align: center;
}

.img_album{
    width:100%;
}

.img_album:hover{
    background-color: black;
    opacity: 0.3;
}

.circle_image{
    border-radius: 50%;
}
/* /MAIN */

/*FOOTER*/
footer{
    background-color: rgb(56,56,56);
    height: 75px;
    width: 100vw;
    position: fixed;
    bottom: 0;
    padding-left: 0 5px; 
    justify-content: space-between;
    flex-wrap: nowrap;
}

footer *{
    color:white;   
}

/* footer left */
.left_footer{
    width: 30%;
    align-items:center;
}

.left_footer >*{
    padding-left: 15px;
}

.left_footer i {
    padding-right:10px;
}
.left_footer i:hover {
    color:white;
}

.img_footer_left{
    width: 40px;
}

.current_song *{ 
    color: lightgray;
    font-size: 12px;
}

/* footer center */
.center_footer{
    width: 40%;
    height: 100%;
}

.center_footer a{
    margin:5px;
    display:block;
}

.song_btn_container{
    width: 100%;
    height: 50%;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

.btn_song{
    font-size: 18px;
    padding: 10px 0 0 20px;
}

#btn_play{
    font-size: 32px;
}

.progress_song_container{
    width: 100%;
    height: 50%;
    justify-content: center;
    align-items: center;
}

.start_time,
.end_time{
    padding-left: 0 10px;
    font-size: 12px;
}

/* progress bar*/
.progress_bar{
    float: left;
    height: 4px;
    width: 70%;
    border-radius: 5px;
    background-color: #b3b3b3;
    cursor: pointer;
}

.progress_time{    
    position:relative;
    height: 4px;
    width: 40%;
    border-radius: 5px;
    background-color: white;
}

.progress_time:hover{
    background-color: green;
}

.progress_time:hover:after{
    background-color:white;
    content:'';
    position: absolute;
    height: 15px;
    width: 15px;
    left: 96%;
    bottom: -5px;
    border-radius: 50%;
}

/* volume*/
.right_footer{
    width: 30%;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-end;
}

.right_footer i{
    padding-right:15px;
}

#volume_bar{
    width:30%;
    margin-left: 10px;
}
/* /FOOTER */

/*TABLET */
@media screen and (max-width: 768px) {
    .album{
        /* dimensioni album tablet*/
        width: calc((100vw - 200px) /4 - 10px);
    }

    .progress_bar{
        width: 40%;
    }
}

/*SMARTPHONE */
@media screen and (max-width: 566px) {
    main{
        width: calc(100% - 60px);
    }

    .album{
        width: calc((100vw - 50px) /2 - 20px);
    }

    aside{
        width: 50px;
    }

    .hidden_xs{
        display: none;
    }

    #logo_xs{
        display: block;
        width: 30px;
        margin: 20px auto;
    }

    .ul_menu_aside{
        margin-top: 10px;
    }

    .ul_menu_aside img{
        width:20px;
    }
    
    .bottom_aside hr{
        margin-right: 10px;
    }

    .main_top{
        width: calc(100% - 50px);
    }
}